@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: 0 auto;
}

/* .input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.input-container label {
  margin-bottom: 1rem;
}

.input-container input,
.input-container button {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.input-container button {
  margin-top: 0.6rem;
  cursor: pointer;
} */

.error-container {
  color: red;
}

.transactions-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: space-around;
}

.transaction-content {
  flex-basis: 66.67%;
  flex-grow: 0;
}

.transaction-form {
  flex-basis: 33.33%;
  flex-grow: 0;
}

.transaction-form-card{
  min-height: 8rem;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form-submit-button {
  width: 60%;
  margin-top: 1rem;
}

.transaction-card {
  min-height: 6rem;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
