<form {{on "submit" this.submitTransaction}}>
  <div>
    <label for="account-id">Account ID:</label>
    <input type="text" data-type="account-id" id="account-id" name="account-id" />
  </div>
  <div>
    <label for="amount">Amount:</label>
    <input type="number" data-type="amount" id="amount" name="amount" />
  </div>
  <button type="submit" data-type="transaction-submit">Submit</button>
</form>
